.page {
  min-height: 100vh;
  min-height: 100dvh;
  max-width: 80ch;
  padding: 1.5rem;
  margin-inline: auto;

  h1 {
    font-size: 1.5rem;
    margin-block-end: .75rem;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
