.page {
  min-height: 100vh;
  min-height: 100dvh;
  max-width: 80ch;
  padding: 24px;
  margin-inline: auto;

  h1 {
    font-size: 24px;
    margin-block-end: 12px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
