.nav {
  color: hsl(0 0 20%);
  position: sticky;
  top: 0;
  padding-block: 1.5rem;
  padding-inline: 1.25rem;
  display: flex;
  flex-direction: column;
}

.navGroup {
  margin-block-end: 1.5rem;

  .chapterTitle {
    color: hsl(0 0 50%);
    margin-block-end: 0.5rem;
    font-size: 0.75rem;
    display: block;
  }

  ul {
    li {
      margin-block: 2px;
      padding-inline: 8px;
      margin-inline: -8px;
      transition: background ease-in-out 200ms;
      border-radius: 4px;

      &:hover {
        background: hsl(0 0 90%);
      }

      a {
        height: 1.75rem;
        display: flex;
        align-items: center;
        font-size: 0.875rem;
      }
    }
  }
}

.active {
  background: hsl(0 0 90%);
}
