.page {
  display: grid;
  grid-template-columns: minmax(min-content, 17.5rem) 1fr;
  background: hsl(0 0 96%);
  min-height: 100dvh;
}

.aside {
  padding-inline: 1.25rem;
  height: 100%;
}

.content {
  background-color: hsl(0 0 99%);
  padding-inline: 24px;
  padding-block: 48px;
}

.header {
  margin-bottom: 3em;
}
